@import '../../../../../app-variables';

.container {
    justify-content: center;
    background-color: $secondary;
    width: 100%;
    height: 12%;
    align-items: center;
    display: flex;
    border-radius: 44px;
}

.img {
    width: 50;
    height: 50;
}