@import '../../../../../scss/global/styles.scss';
@include gridview;

.icon {
    height: 70px;
    width: 70px;
}

.background {
    background: rgb(57,57,57);
background: linear-gradient(153deg, rgba(57,57,57,1) 14%, rgba(161,160,160,1) 88%, rgba(161,160,160,1) 100%); 
}