<div class="container">
            <div class="chatInfo">
                
                        <img class="image-item" src="../../../../assets/media/placeholder.svg">       
                        <h1>Rick The IT Guy</h1>
                    
                </div>
                <div class="tools">
                
                            <img class="image-item" src={{notification}}>
             
                            <img class="image-item" src={{addUser}}>
                
                            <img class="image-item" src={{attach}}>
               
   
                </div>
    
    
  
</div>