@import '../../../../../scss/global/styles.scss';
@include font-adjust;
@include aquadis_style;
@include gridview;


.chat {
    width: 100%;
    height: auto;
    background-color: $secondary-light;
    padding-top: 10px;
    border-radius: 30px;
    display: flex;
}

.sideChat {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.border {
    border-bottom: 1px solid white;
}

.f {
    font-size: 1.5rem !important;
    margin-top: 0;
    margin-bottom: 2px;
}