@import '../../../../../scss/global/styles.scss';
@include gridview;
.container {
    background-color: $primary;
    min-height: calc(100vh - #{$nav-bar-height});
    height: auto;
    width:100%;
    padding: 0;
    margin: 0;

}

.optionsList {
    list-style-type: none;
    padding: 0;
    text-transform: capitalize;
    margin: 0;
    & li {
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: $light-light;
        font-family: $medium_font;
        font-size: 1.5rem;
        text-align: center;
        overflow: hidden;

        & :hover {
            background-color: $primary-light;
        }
    }
}

.top {
background: rgb(57,57,57);
background: linear-gradient(153deg, rgba(57,57,57,1) 14%, rgba(161,160,160,1) 88%, rgba(161,160,160,1) 100%); 
}

.topclosed {
    text-align: center ;

    & :hover {
        pointer-events: none;
    }
}

.topopen {
    text-align: right !important;
    
    & :hover {
        pointer-events: none;
    }
}

.icon {
    height: 25px;
    width: 30px;
    margin-top: 3px;
    cursor: pointer; 
}
.hightlight {
    &:hover {
        color: $secondary-light
      }
}

.workspace {
    color: $secondary-light;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace img {
    align-self: flex-start !important;
}
