<div class='container'  >
        <ul class='optionsList'>
            <div *ngIf="!open" (click)="toggleSideNav()" class="top pointer topClosed"  >
                <li class="topclosed">
                    <img class="icon"     src={{location}}  > 
                </li>
                <li >
                    <app-profile></app-profile>
                </li>
            </div>
            <div *ngIf="open" class="top"  >
                    <li class="topopen pointer" (click)="toggleSideNav()" >
                        <img class="icon"     src={{location}}  > 
                    </li>
                    <li>
                        <app-profile></app-profile>
                    </li>
            </div>
        <li>
            <app-available></app-available>
        </li>
        <li>
            <app-current-workspace></app-current-workspace>
        </li>
        <li>
            <app-notification ></app-notification>
        </li>
        <li>
            <app-select-list></app-select-list>
        </li>
        
    
        </ul>
</div>

