<div *ngIf="open" class="row workspace">
        <div *ngIf="hasWorkspaces" class="col-2">
            <img class="icon"  (click)="editWorkspace()"  src='../../../../assets/media/edit.png'  >
        </div>
        
        <div class="col-2">
            <img class="icon"  (click)="addWorkspace()"  src='../../../../assets/media/workspace_add.png'  >
        </div>
        <div *ngIf="hasWorkspaces" class="col-6">
            {{currentWorkspace.Name}}
        </div>
        <div *ngIf="!hasWorkspaces" class="col-8">
            No Workspaces
        </div>
        <div *ngIf="hasWorkspaces && canExpand" class="col-2">
                <img class="icon"  (click)="expandWorkspace()"  src={{location}}  >
        </div>
</div>
<div *ngIf="open && expanded && hasWorkspaces" class="search border">
    <p>My Workspaces</p>
        <mat-selection-list>
                <mat-list-option (click)="selectWorkspace(workspace)" *ngFor="let workspace of filteredWorkspaces;  let i = index">
    
                    <app-custom-list-option (clicked)="selectWorkspace(workspace)" [Name]="workspace.Name" [Obj]="workspace"></app-custom-list-option>
                
                </mat-list-option>
              </mat-selection-list>
</div>
