@import '../../../../../scss/global/styles.scss';
@include font-adjust;
@include aquadis_style;
@include gridview;


.chat {
    width: 100px;
    height: 50px;
    background-color: $secondary-light;
    margin-top: 15px;
    border-radius: 60px;
}

.left {
align-items: flex-start;
}

.right {
    align-self: flex-end;
}