
@import '../../../../../app-variables';

.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
    background-color: $secondary-light;
    height: 100%;
}

.button {
    margin: 5;
}

.main {
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-start;
    background-color: $secondary-light;
    height: 100%;
}