<!-- <div class="row">
  <div [class.col-3]="open === true" [class.col-1]="open === false" [class.closed]="open === false" class="sidemenu">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="mainContent" [class.col-8]="open === true" [class.col-11]="open === false" >
    <div class="row">
      <app-chat-tool></app-chat-tool>
    </div>
    <div class="row">
      <app-chat-box></app-chat-box>
    </div>
    <div class="row">
      <app-chat-send></app-chat-send>
    </div>
  </div>
 
</div> -->