<div class="row">
  <div [class.col-3]="open === true" [class.col-1]="open === false" [class.closed]="open === false" class="sidemenu">
    <app-sidemenu></app-sidemenu> 
  </div>
  <div *ngIf="!noWorkspaces" class="mainContent" [class.col-8]="open === true" 
   [class.col-xl-11]="open === false"
   [class.col-lg-10]="open === false"
   [class.col-md-9]="open === false"
   [class.col-sm-8]="open === false" >
    <div class="row">
      <app-chat-tool></app-chat-tool>
    </div>
    <div class="row">
      <app-chat-box></app-chat-box>
    </div>
    <div class="row">
      <app-chat-send></app-chat-send>
    </div>
  </div>

  <div *ngIf="noWorkspaces" class="mainContent noworkspace" [class.col-7]="open === true" [class.col-10]="open === false">
    <div class="row">
      <div class="noworkspace">
          <p>{{'Dash.noWorkspace' | translate}}</p>
          <a class="aquadis_button_blue" (click)="showWorkspaceOptions()"> Select a Workspace</a>
      </div>
    
    </div>
  </div>
 
</div>
