<mat-form-field >   
        <mat-select #langselector class="select" disableOptionCentering [(ngModel)]="language">
                <mat-select-trigger id="current-lang-container" >
                        <img  id="current-language-flag" src={{language.flag}} >
                        <span id="current-language-text">{{language.abbreviation}} </span>
                        <img  id="current-language-icon" src={{langIcon}} >
                </mat-select-trigger>
                <mat-option id="option-label"  (click)="languageClicked(lang)"
                        *ngFor="let lang of languageList$ | async" [value]="lang"> 
                <img class="option-flag" src={{lang.flag}}> <span class="option-text"> {{lang.fullForm}} </span> </mat-option>
        </mat-select>
</mat-form-field>