@import "./fonts";

// Navigation Bar
$nav-bar-height: 7rem;
$nav-bar-min-width: 400px;
$aquadis-text-logo-width: 12rem;
$aquadis-text-logo-height: 3rem;
$aquachat-logo-size: 80px;
$nav-item-font-size: 1.5rem;
$nav-item-font-bold: false;
$selected-language-flag-size: 15px;
$selected-language-font-size: 1.8rem;
$selected-language-icon-size: 40px;
$side-menu-icon-size: 100px;
$side-navigation-width: 35%;

$medium_font: 'geomanistmedium';
$light_font: 'geomanistlight';
$regular_font: 'geomanistregular';
$accent_font: 'museo300';
$italic_font: 'geomanistitalic';

$background-color: #040de6;
