@import '../../../../../app-variables';
.container {
    justify-content: center;
    background-color: $light;
    width: 100%;
    height: 75%;
    flex-direction: column;
    display: flex;
    border-radius: 22px;
}