<cdk-virtual-scroll-viewport itemSize="20" class="container">
   <mat-list>
        <mat-list-item  *cdkVirtualFor="let message of messages" class="item">                                                   
           <app-chat-sms [message]="message"></app-chat-sms>
           <!-- <div class="chat">
                  {{message.SenderEmail}}
                  <div class='row'>
                        <div class="col-12">
                                {{message.Payload}}  
                        </div>
                  </div>
                    
            </div> -->
           </mat-list-item>
     </mat-list>
</cdk-virtual-scroll-viewport>
      
