<FlexboxLayout backgroundColor="#a1a0a0" class="container"  >
        <FlexboxLayout class="header" backgroundColor="#2c61cb">
            <Image  src="res://workspace_logo" class="img" stretch ="none"> </Image>    
            <Label class="h3 title" text="Select a Workspace"></Label>
            <StackLayout  orientation="horizontal" padding="5" (tap)="onClose()" >
                    <Image src="res://exit_white" class="img" stretch ="none"> </Image> 
            </StackLayout>
        </FlexboxLayout>
        
        <FilterSelect 
        *ngIf="workspacesAvailable"
        xbtn="UnSelect"
        height="20%"
        autofocus="true"
        search_param="name"
        [items]="items"
        (change)="onitemselected($event)"
        hint="Select a Workspace" 
        modal_title="Workspaces"
        change="onitemselected(event)"
        searchHint="Search for a Workspace"
        selectText="Select Workspace"
        multiple="false"
        primary_key="code">
 
        </FilterSelect>

        <Label *ngIf="!workspacesAvailable" class="h2 label" text="No Workspaces Available"></Label>
    
        <Button *ngIf="selected" class="btn-secondary button" (tap)="selectWorkspace()" text="Join Workspace"> </Button>
    </FlexboxLayout>